@(opportunityId: OpportunityId)(implicit sessionUser: String)


@main(s"Guidance on BEIS application", displayUserName=Some(sessionUser)) {
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="text">
            <section>
                <h1 class="heading-xlarge">Big Energy Saving Network 2017/18</h1>


                <h2 class="heading-large">Guidance on BESN application</h2>
                <div>
                    <p>Please note: </br>
                        completed applications should be received by email to besn@@beis.gov.uk by Midnight on Sunday 10th July 2017. We will also accept printed applications in the post or hand delivered but these must be received no later than Friday 8th July 2017  ..</p>

                    <p>Postal address:</br>
                        Big Energy Saving Network, Area 4A </br>
                        Retail Markets Team </br>
                        Department of Energy & Climate Change </br>
                        1 Victoria St </br>
                        Westminster </br>
                        London SW1H 0ET </br>

                        For the attention of: Lydia Toy</p>
                </div>


                <div>
                    <p>Key dates: </br>
                        30th April 2017 – applications open </br>
                        10th July 2017 Midnight – deadline for receipt of electronic applications </br>
                        29th July 2017 – aim to notify successful applicants, issue grant agreements and links to online training modules.
                    </p>
                </div>


                <div>
                    <p>
                        The aims of the fund and the criteria by which bids will be assessed are contained in the Guidance document. Any activity funded through this competition must be completed by 24th March 2018.</p>


                </div>

            </section>
        </div>
    </div>


    <div id="support-column" class="column-third">
        <hr class="hr-blue">
        <h2 class="heading-medium no-top-margin">Support</h2>
        <ul class="list">
            <li>
                <a href="@controllers.routes.OpportunityController.showOpportunity(opportunityId, None)">
                    View opportunity details</a>
            </li>
        </ul>
    </div>

</div>


}
