@(appForm: ApplicationForm,
app: Option[Application],
opportunity: Opportunity,
section: OpportunityDescriptionSection,
userid: String,
guidanceDocURL: Option[String] = None
)(implicit sessionUser: String)

@import eu.timepit.refined.auto._

@sectionLink(title: String, sectionNum: OppSectionNumber) = {
    <span class="part-number">
        @sectionNum.num.
    </span>
@if(sectionNum == section.sectionNumber) {
    @title
} else {
    <a href="@controllers.routes.OpportunityController.showOpportunitySection(opportunity.id, sectionNum)">@title</a>
}
}

@titleCols() = @{
    val titles = opportunity.description.sortBy(_.sectionNumber).map(s => (s.title, s.sectionNumber)).zipWithIndex
    val midpoint: Int = Math.round(titles.length / 2.0).toInt
    val (leftCols, b) = titles.splitAt(midpoint)
    val rightCols = b.map(Some(_)) :+ None
    leftCols.zip(rightCols)
}

@nextSection = @{
    section.sectionNumber.next.flatMap(n => opportunity.description.find(_.sectionNumber == n))
}

@prevSection = @{
    section.sectionNumber.prev.flatMap(n => opportunity.description.find(_.sectionNumber == n))
}

@currentSection = @{
    opportunity.description.find(_.sectionNumber == section.sectionNumber)
}

@main(s"Opportunity: ${opportunity.title} - BEIS", backLink =
        None, displayUserName=Some(sessionUser)) {


 <div class="grid-row">
        <div class="column-two-thirds">

            <header class="page-header">
                <h1 class="heading-xlarge">Apply for a low carbon heating innovation grant</h1>
            </header>

            <div class="rifs-summary-panel">
                <aside role="complementary" class="notice">
                    <div class="column-half definition-list">
                        <dl>
                            <dt class="heading-small">Deadline</dt>
                            <dd>02 January 2018</dd>
                        </dl>
                    </div>

                    <div class="column-half definition-list">
                        <dl>
                            <dt class="heading-small">Value</dt>
                            <!-- <dd>Varies based on the type of Application</dd> -->
                           <dd>&pound;200,000 to &pound;@("%,.0f".format(opportunity.value.amount)) </dd>
                        </dl>
                    </div>
                    <div class="column-full definition-list">
                        @if(sessionUser.equals("Unauthorised User")) {
                            <p>
                                    <a href="/login" role="button">
                                        <a href="/login"> Sign in</a> if you have already started an application.

                                    </a>
                            </p>
                        }
                        <p>

                            @if(!sessionUser.equals("Unauthorised User") && !app.isEmpty) {
                               <!-- <a class="button button-start startnow-padding" href="/applicant/dashboard" role="button">-->
                                    <a class="button button-start startnow-padding" href="@controllers.routes.ApplicationController.createForForm(appForm.id)" class="button">

                                    Continue
                                </a>
                            }

                            @if(!sessionUser.equals("Unauthorised User") && app.isEmpty) {
                            <!-- <a class="button button-start startnow-padding" href="/applicant/dashboard" role="button">-->
                            <a class="button button-start startnow-padding" href="@controllers.routes.ApplicationController.createForForm(appForm.id)" class="button">

                                Start now
                            </a>
                            }

                            @if(sessionUser.equals("Unauthorised User") && app.isEmpty) {
                                <a class="button button-start startnow-padding" href="/register" role="button">
                                        Start now
                                </a>
                            }
                        </p>
                        <p>
                        You can apply for a grant to develop innovative low carbon heating solutions in exisiting UK buildings.
                        </p>

                    </div>
                </aside>
            </div>

            <article>
                <!-- <h2 class="heading-large">@section.sectionNumber.num. @section.title</h2>-->
                <h2 class="heading-large">@section.title</h2>
                @if(section.sectionType == OppSectionType.Questions) {
                    @helpers.textForQuestions(appForm)
                } else {
                    @section.text.map(_.split("\n\n")).map { ps =>
                        @ps.map { p =>
                            <p class="text">@p</p>
                        }
                    }
                }

                </article>

            <footer>
                <nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
                    <ul class="group">
                        @prevSection.map { s =>
                        <li class="previous-page">
                            <a href="@controllers.routes.OpportunityController.showOpportunitySection(opportunity.id, s.sectionNumber)"
                            title="Navigate to the previous page."
                            rel="previous">
                                <span class="pagination-part-title">Previous</span>
                                <span class="pagination-part-label">@s.title</span>
                            </a>
                        </li>
                        }.getOrElse {
                            <li class="previous-page" aria-hidden="true"></li>
                        }

                        @nextSection.map { s =>
                        <li class="next-page">
                            <a href="@controllers.routes.OpportunityController.showOpportunitySection(opportunity.id, s.sectionNumber)"
                            title="Navigate to the next page."
                            rel="next">
                                <span class="pagination-part-title">Next</span>
                                <span class="pagination-label">@s.title</span>
                            </a>
                        </li>
                        }.getOrElse {
                            <li class="next-page" aria-hidden="true"></li>
                        }
                    </ul>
                </nav>
            </footer>
        </div>


        <div id="support-column" class="column-third">
            <aside role="complementary">
                <!-- <h2 class="heading-medium no-top-margin">Support</h2> -->
                <ul class="list spacious">



                </ul>
            </aside>
        </div>

    </div>

}