@import models._
@import partials._
@import helpers._

@(app: ApplicationDetail,
mapsecs: Map[String, Seq[ApplicationFormSection]],
errs: Seq[forms.validation.SectionError],
guidanceDocURL: String,
groupName: Option[String]=None,
secNo: Option[Int]=None
)(implicit sessionUser: String)


@errorClass = @{if(errs.nonEmpty) "rifs-error-panel" else ""}

@changePersonalRef(title: String) = {
<a href="@controllers.routes.ApplicationController.editPersonalRef(app.id)">@title</a>
}
@main(s"Overview - BEIS", backLink=Some(BackLink("Home", s"/applicant/dashboard")), displayUserName=Some(sessionUser)) {
<!-- main content -->

<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(app.opportunity.id.id): @app.opportunity.title</span>
                Application
            </h1>

            <!--  <div class="grid-row">
                 <div class="column-half">
                     <p>
                         @app.personalReference.getOrElse(changePersonalRef("Add personal reference"))
                     </p>
                 </div>
                 <div class="column-half text-center-lg-only ">
                     <p>
                         @app.personalReference.map(_=>changePersonalRef("Change"))
                     </p>
                 </div>
             </div>

             <p>Complete all application sections before submitting to BEIS.</p>


        <p>You should read the <a href="@guidanceDocURL" target="_blank"> guidance notes </a> before completing this form. If you have any queries after reading the guidance,
           please send them to <a href="mailto:builtenvironmentinnovation@@beis.gov.uk" target="_top">
           builtenvironmentinnovation@@beis.gov.uk</a></p>
        </div>

        @if(errs.nonEmpty) {
        <div class="panel @errorClass" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
            <p class="bold-small">All questions must be answered</p>
            <ul class="list list-bullet">
                @errs.map { e =>
                <li class="bold-small">
                    <a href="@controllers.routes.ApplicationController.showSectionForm(app.id, e.formSection.sectionNumber)">
                        @e.formSection.title </a> &nbsp;
                    @e.msg
                </li>
                }
            </ul>
        </div>
        }

        <form method="POST"
              action="@controllers.routes.ApplicationController.submit(app.id)">
            <div>
                <table class="spacious">
                    <thead>
                    <tr>
                        <th>
                            <section class="container">
                                <div class="helptext-first">Section</div>
                                <div class="helptext-second">Status</div>
                            </section>
                        </th>
                        <!-- <th scope="col">Event details</th>
                        <th scope="col">Status</th> --->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>

                            @mapsecs.view.zipWithIndex.map{ case (fs,i) =>

                            @if(groupName.getOrElse("NA").indexOf(fs._1) != -1){
                                <details open>
                             }else{
                                <details >
                             }

                             <summary role="button">

                                 <span class="summary panel-heading">
                                       @{i+1}. @fs._1
                                 </span>
                             </summary>

                             <div class="panel panel-border-narrow panel-no-top-padding">
                                  @for((f,k) <- fs._2.view zip ('a' to 'z').toList){
                                        <p>
                                            @if(secNo.getOrElse(0) == f.sectionNumber.num.value){
                                                <div class="helptext-first helptext-selected">
                                            }else{
                                                 <div class="helptext-first">
                                                }
                                                <a id="section-@f.sectionNumber.num-link" href="@controllers.routes.ApplicationController.showSectionForm(app.id, f.sectionNumber)">
                                                    @k.  @if(f.title.split(":").size > 1) {  @f.title.substring( f.title.split(":")(0).length+1, f.title.length)} else{@f.title}  </a>
                                            </div>

                                                <div class="helptext-second helptext-border">
                                                @statusText(app, f.sectionNumber)
                                                </div>
                                        </p>
                                  }
                                </div>
                                </details>

                                }
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="rifs-form-buttons">
                    @app.appStatus.appStatus match {
                    case "Need more Info" | "In progress" => { <input type="submit" name="@Save.name" class="button button--start" value="Submit application"> }
                    case _ => { <input type="submit" name="@Save.name" class="button button--start" value="Submit application" disabled> }
                    }

                    <a href="@controllers.routes.ApplicationPreviewController.applicationPreview(app.id)" class="flat bottom--link-style nobreak">
                        Preview application</a>
                </p>
            </div>
        </form>
    </div>

    <div id="support-column" class="column-third">
        @sidebar(app.opportunity.id, app.sectionCount, app.completedSectionCount, Option(guidanceDocURL))
    </div>
</div>
}