@(apps: Seq[Application],
os: Seq[Opportunity],
isOppClosed: Boolean,
ms: Seq[Message])(implicit sessionUser: String)

@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate
@main("Opportunity list - BEIS", displayUserName=Some(sessionUser)) {

<div>
    <h1 class="heading-xlarge">Applicant Dashboard</h1>
</div>

<div class="grid-row">
    <div class="column-half">
       <!-- <h1> BEIS Opportunities</h1>

        <p class="lede">Links to all open BEIS opportunities</p> -->

        <table class="spacious">
            <tr>
                <th role="presentation">Opportunity </th> <th role="presentation">End date</th>
                <th role="presentation">Value</th>
            </tr>
            @for((o,i) <- os.zipWithIndex) {
            <tr>
                <td>@{i+1}. <a href="/opportunity/@o.id.id">@if(o.title.length > 15) {@o.title.substring(0,14)..} else{@o.title}
                </a></td>
                <td>
                @if(!o.endDate.isEmpty && !isOppClosed){
                    @DateTimeFormat.forPattern("dd-MM-yyyy").print(o.endDate.get)
                }
                @if(!o.endDate.isEmpty && isOppClosed){
                    Closed
                }
                </td>
                <td>&pound;@("%,.0f".format(o.value.amount)) @o.value.unit</td>
            </tr>
            }
        </table>
    </div>

    @if(apps.size>0){
    <div class="column-half">
        <!--<h1> BEIS Applications</h1>

        <p class="lede">Links to all BEIS Applications</p>-->


        <table class="spacious">
            <tr>
                <th role="presentation">Application</th>
                <th role="presentation">Status</th>
            </tr>
            @if(apps.size==0){
            <tr>
                <td><a class="button button-start startnow-padding" href="/register" role="button">Start now</a></td>
                <td>Not started
                </td>
            </tr>
            }

          @for((a,i) <- apps.zipWithIndex) {
            <tr>
                <td>

                    @if(isOppClosed) {
                        <a class="button button-start startnow-padding" href="/simplepreview/@a.id.id" class="button">
                            View
                        </a>
                    }else{
                    <a class="button button-start startnow-padding" href="@controllers.routes.ApplicationController.createForForm(a.applicationFormId, Some(a.id))" class="button">
                        Continue
                    </a>

                        <!--<a class="button button-start startnow-padding" href="/application/@a.id.id" role="button">-->
                            <!--Continue-->
                        <!--</a>-->
                    }
                    <!--@a.personalReference.getOrElse("< No title >")</a>-->
                </td>
                <td>@a.appStatus.appStatus
                    @if(a.appStatus.appStatus == "Approved"){
                    <img src="@routes.Assets.at(" images/checkmark-26x26.png")" alt="" width=26 height=26
                    class="greentick">
                    }
                </td>
            </tr>
            }
        </table>

    </div>
    }

</div>


<!--
<div class="grid-row">
   <div class="column-half">
       <h1> Notifications</h1>

       <p class="lede">Links to all BEIS notifications</p>

       <table class="spacious">
           <tr>
               <th role="presentation">Message</th><th role="presentation">Sent by</th><th role="presentation">Sent at</th>
               <th role="presentation"></th>
           </tr>
           @for((o,i) <- ms.zipWithIndex) {
           <tr>
               <td>@{i+1}. <a href="/message/@o.id.id/messageboard">@o.message</a></td>
               <td>@o.sentBy.userId</td>
               <td>@DateTimeFormat.forPattern("dd-MMMM-yyyy").print(o.sentAt)</td>
               <td><a href="/message/@o.id.id/delete">
                   <img src="@routes.Assets.at("images/delete.png")" width="18" height="20" alt="" style="visibility: visible">
               </a></td>
           </tr>
           }
       </table>
   </div>

</div>
-->

}

