// GOV.UK overrides
hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

#footer {
  border-top: solid 10px $mainstream-brand;
}

//.breadcrumbs ol,
//.breadcrumbs ul {
//  margin: 0;
//  padding: 0;
//}

.error .form-control {
  // support for nested controls
  border: 4px solid $error-colour;
}

#product-name {
    font-size: 24px;
    font-weight: 400;
    padding-left: 5px;
}

.panel-no-top-padding {
  padding-top: 0;
}

.panel-heading {
  font-weight: bold;
}

.task-completed {
  float: none;
}

.startnow-padding {
   padding: 0.36842em 2.15789em 0.21053em 0.84211em;
}

.form-group-preview {
  margin-top: 20px;
}

.pdf-font {
  font-family: "nta", Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-transform: none;
}

.doc-marking {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  color: red;
  text-transform: none;
}

.border-disable {
      background: #f2f2f2;
      border: 2px solid #888;
}

.textarea-pdf {
    resize: inline;
  height:auto;
}


.pdf-print {
pointer-events: none;
}
