@(field: forms.SimpleFormField, answers: Map[String, String],
checkBoxMap : Map[String,String] = Map("Pre" -> "Pre-Startup","Startup" -> "Startup <1yr","Upto5" -> "1-5yrs","Upto10" -> "6-10yrs", "MoreThan10" -> ">10yrs", "Yes" -> "Yes", "No" -> "No",
"Chairty" -> "Charity","Coop" -> "Co-Operative","LGT" -> "Limited by Guarantee","LTD" -> "Limited Company","LLP" -> "Limited Liability Partnership","Partnership" -> "Partnership",
"PLC" -> "PLC","Sole" -> "Sole Trader","EDU" -> "University/Educational","UC" -> "University Company","Other" -> "Other","Technology" -> "Technology","Tool" -> "Tool","Process" -> "Process",
"Gas" -> "Gas","Electrict" -> "Electric","Hybrid" -> "Hybrid","Solar" -> "Solar","ExpDevSingle" -> "Experimental development - single company","ExpDevCollab" -> "Experimental development - collaboration",
"IndResSingle" -> "Industrial research - single company","IndResCollab" -> "Industrial research - collaboration"
)
)





@import partials._
@import org.apache.commons.lang3.StringUtils
@import org.joda.time.DateTime
@import org.joda.time.format.DateTimeFormat



@field.simpleform.map { f=>

@if( f.isEnabled) {
<div class="form-group-preview wordwrap">
    <label for="@f.name">@f.label </label>

    @if(
        StringUtils.isNotEmpty(answers.getOrElse(s"${f.name}.day", null)) &&
        StringUtils.isNotEmpty(answers.getOrElse(s"${f.name}.month", null)) &&
        StringUtils.isNotEmpty(answers.getOrElse(s"${f.name}.year", null))){

            @DateTimeFormat.forPattern("dd - MM - yyyy").print(
            new DateTime(
            answers.get(s"${f.name}.year").get.toInt,
            answers.get(s"${f.name}.month").get.toInt,
            answers.get(s"${f.name}.day").get.toInt, 0,0)
            )
    }

    @f.fieldType match {
    case "tableform" => {

    <table class="dynamictdpreview">
            @f.tableform.map { rows=>
                @rows.map { row=>
                    <tr>
                        @row.fields.map { r=>
                            <td>
                                @if(r.fieldType=="checkbox"){

                                   @if(answers.get(r.name).getOrElse("off") == "on"){
                                        <div class="multiple-choice">
                                            <img src="@routes.Assets.at("images/checkbox_ticked.png")" width="46" height="42" alt="" style="visibility: visible">
                                            @r.label
                                            <!--<input id="@r.name" name="@r.name" type="checkbox" title="@r.name" checked>-->
                                            <!--<label for="@r.name">@r.label</label>-->
                                        </div>
                                    }else{
                                        <div class="multiple-choice">
                                            <img src="@routes.Assets.at("images/checkbox_unticked.png")" width="46" height="42" alt="" style="visibility: visible">
                                            @r.label
                                            <!--<input id="@r.name" name="@r.name" type="checkbox" title="@r.name">-->
                                             <!--<label for="@r.name">@r.label</label>-->
                                        </div>

                                    }
                                }else{
                                <label for="@r.name">@r.label</label>
                                @answers.get(r.name)
                                }


                                @if(
                                    StringUtils.isNotEmpty(answers.getOrElse(s"${r.name}.day", null)) &&
                                    StringUtils.isNotEmpty(answers.getOrElse(s"${r.name}.month", null)) &&
                                    StringUtils.isNotEmpty(answers.getOrElse(s"${r.name}.year", null))){

                                        @DateTimeFormat.forPattern("dd - MM - yyyy").print(
                                        new DateTime(
                                        answers.get(s"${r.name}.year").get.toInt,
                                        answers.get(s"${r.name}.month").get.toInt,
                                        answers.get(s"${r.name}.day").get.toInt, 0,0)
                                    )
                                }

                            </td>
                        }
                    <tr>
                }
            }
        </table>

        }
        case "dropdown" => {

            @checkBoxMap.getOrElse(answers.getOrElse(f.name,""), null)

        }
        case _ => {
            @if(f.isNumeric.getOrElse(false) && StringUtils.isNotEmpty(answers.getOrElse(f.name,""))){

                @java.text.NumberFormat.getInstance.format(answers.getOrElse(f.name,"").replace(",","").toDouble)

            }else{
                @answers.get(f.name)
            }
        }
    }
</div>


}
}