@(field: forms.TableFormField,
questions: Map[String, Question],
answers: Map[String, String]
)

@import helpers._
@import eu.timepit.refined.auto._

<!--<table class="@if(field.tableform.head.fields.size >5) {dynamictd} else{tableformfield}" border="1">-->

<table class="dynamictdpreview" border="1">


    @field.tableform.map { row=>
    <tr>
        @if( row.isEnabled) {

        @row.fields.map { f=>

        <td>
            @f.fieldType match {
            case "String" => {
            <label for="@f.name">@f.label </label>
            }
            case "text" | "textArea"  => {
            @answers.get(f.name)
            }
            case "checkbox" => {
            @answers.get(f.name)
            }
            case "currency" => {
                £ @answers.get(f.name)
            }
            case "date" => {
            <div class='date-selector'>
                <div>
                    <label for="@(f.name).day">Day</label>
                    <input type="text" title="Day" id="@(f.name).day" name="@(f.name).day" value='@answers.get(s"${f.name}.day")' class="form-control" maxlength="2" pattern="[0-9]*">
                </div>
                <div>
                    <label for="@(f.name).month">Month</label>
                    <input type="text" title="Month" id="@(f.name).month" name="@(f.name).month" value='@answers.get(s"${f.name}.month")' class="form-control" maxlength="2" pattern="[0-9]*">
                </div>
                <div>
                    <label for="@(f.name).year">Year</label>
                    <input type="text" title="4 digit year" id="@(f.name).year" name="@(f.name).year" value='@answers.get(s"${f.name}.year")' class="form-control year" maxlength="4" pattern="[0-9]*">
                </div>
            </div>
            }
            case "fileupload" => {
            <label class="file-upload">
                <input type="file" class="file-upload-field" name="file"/>
                Choose file
            </label>
            <input type="text" id="fileupload" class="form-control fileupload-text-field" title="title" name="@f.name">
            }
            }
        </td>
        }
        }
    </tr>
    }

</table>
